@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu/>
</div>
<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <form action="/logout" method="get">
                <button class="btn btn-danger btn-block">Logout</button>
            </form>
        </AuthorizeView>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
