@page "/authorization"
@layout Empty
@attribute [AllowAnonymous]

<div class="container">
    <div class="card card-container">
        <AuthorizeView>
            <Authorized>
                @if (context.User.IsInRole("admin"))
                {
                    <img id="profile-img" class="profile-img-card" src="https://img.icons8.com/bubbles/2x/admin-settings-male.png" alt=""/>
                }
                @if (context.User.IsInRole("manager"))
                {
                    <img id="profile-img" class="profile-img-card" src="https://www.cupmanager.org/assets/img/cms/home/manager.png" alt=""/>
                }
                <p id="profile-name" class="profile-name-card">@context.User.Identity.Name</p>
                <form class="form-login" action="/logout" method="get">
                    <button class="btn btn-lg btn-primary btn-block btn-login" type="submit">Sign out</button>
                </form>
            </Authorized>
            <NotAuthorized>
                              <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt=""/>
                <form class="form-login" action="/login" method="get">
                    <input type="text" value="username" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                    <input type="password" value="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block btn-login" type="submit">Sign in</button>
                </form>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

<style>
    body, html {
        height: 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(180deg, rgb(255, 139, 0) 0%, #0065ff 70%);
    }
    
    .card-container.card {
        max-width: 350px;
        padding: 40px 40px;
    }
    
    .btn {
        font-weight: 700;
        height: 36px;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
    }
    
    .card {
        background-color: #F7F7F7;
        padding: 20px 25px 30px;
        margin: 0 auto 25px;
        margin-top: 50px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    
    .profile-img-card {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    
    .profile-name-card {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 10px 0 0;
        min-height: 1em;
    }
    
    .reauth-email {
        display: block;
        color: #404040;
        line-height: 2;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .form-login #inputUsername,
    .form-login #inputPassword {
        direction: ltr;
        height: 44px;
        font-size: 16px;
    }
    
    .form-login input[type=email],
    .form-login input[type=password],
    .form-login input[type=text],
    .form-login button {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .form-login .form-control:focus {
        border-color: rgb(104, 145, 162);
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    }
    
    .btn.btn-login {
        background-color: rgb(104, 145, 162);
        padding: 0px;
        font-weight: 700;
        font-size: 14px;
        height: 36px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        -o-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -webkit-transition: all 0.218s;
        transition: all 0.218s;
    }
</style>
