@page "/employees/create"
@using ScorpPlus.Models

<div class="card">
    <div class="row">
        <div class="col-6">
            IIN:
        </div>
        <div class="col-6">
            <textarea>lalala</textarea>
        </div>
    </div>
</div>


@code
{
    Employee _employee = new Employee();
}