@page "/"
@using ScorpPlus.Contexts
@attribute [Authorize]
@* @inject EmployeeContext *@
@*
<div>
    <div class="container">


        <div class="row">
            <div class="col-4">
                <div class="card items-center" style="max-width:35vh; border-radius:20px; background-color:gray;">
                    <div class="card-body" style="padding:0!important;">
                        <blockquote class="blockquote mb-0">
                            <div class="container" style="padding: 0!important;">
                                <div class="row align-items-center">
                                    <div class="col-7" style="border-bottom-left-radius:20px; border-top-left-radius:20px; background-color:white;">
                                        <p style="text-align:center; margin-top:auto; margin-bottom:auto;">Number of employees</p>
                                    </div>
                                    <div class="col-3 mx-auto" style="border-bottom-right-radius:20px; border-top-right-radius:20px;">
                                        <p style="text-align:center; margin-top:auto; margin-bottom:auto; color:white; font-size:32px;">@employeesCount</p>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card items-center" style="max-width:35vh; border-radius:20px; background-color:gray;">
                    <div class="card-body" style="padding:0!important;">
                        <blockquote class="blockquote mb-0">
                            <div class="container" style="padding: 0!important;">
                                <div class="row align-items-center">
                                    <div class="col-7" style="border-bottom-left-radius:20px; border-top-left-radius:20px; background-color:white;">
                                        <p style="text-align:center; margin-top:auto; margin-bottom:auto;">Employees in the office</p>
                                    </div>
                                    <div class="col-3 mx-auto" style="border-bottom-right-radius:20px; border-top-right-radius:20px;">
                                        <p style="text-align:center; margin-top:auto; margin-bottom:auto; color:white; font-size:32px;">3</p>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>
*@

<h1 id="scorp-plus-system">SCorp Plus system</h1>
<h2 id="opportunities-">Opportunities:</h2>
<ul>
<li><strong> Check employees reliability </strong></li>
<li><strong> Control your employees </strong></li>
<li><strong> Control access </strong></li>
<li><strong> Track room state </strong></li>
</ul>
<h3 id="you-can-also-add-new-custom-devices-and-extend-functionality">You can also add new custom devices and extend functionality</h3>


@code{
    int employeesCount = 2;
}